.btn {
  border: none;
  background-color: skyblue;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  border-radius:5px;
}
/* On mouse-over */
.btn:hover {background: lightblue;}

.chatbtn {
  border: none;
  background-color: skyblue;
  padding: 9px 18px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;

}